.header {
  // display: flex;
  // align-items:center;
  // justify-content: center;
  background-color:rgb(0, 21, 41);
  height: 50px;
  .title, .back {
    font-size: 20px;
    color: 	#FFFFFF;
    line-height: 50px;
  }
  .back {
    float: left;
    margin-left: 5px;
  }
    p{
    width: 100%;
    .title, .back {
      font-size: 20px;
      color: 	#FFFFFF;
    }
    .back {
      float: left;
    }
  }
}
.detail-show {
  display: flex;
  padding-bottom: 8px;
  border-bottom: 1px solid #e0e0e0;
  .img-container {
    flex: 0.6;
    img{
      width: 100%;
    }
  }
}
.desc {
  color: #999;
  line-height: 1.5;
}
.comments-list {
  ul {
      padding-top: 8px;
      text-align:left;
      padding-left:2px;
      // list-style-type:none;
      // list-style-position:inside;
      li {
        list-style:none;
        padding: 8px 0;
        border-top: 1px solid #e0e0e0;
      }
  }  
}
